body {
    margin-left: 0px;
    background-image: url("data:image/svg+xml,  %3Csvg xmlns='http://www.w3.org/2000/svg' width='140' height='130'%3E%3Cpolygon points='70,5 90,41 136,48 103,80 111,126 70,105 29,126 36,80 5,48 48,41' fill='turquoise' stroke='lightseagreen' stroke-width='1' /%3E%3Canimate attributeName='stroke-dasharray' from='0%25 10%25' to='50%25 0%25' begin='0s' dur='10s' repeatDur ='indefinite'/%3E%3C/svg%3E");
    display: flex;
    justify-content: center;
    height: 500px;
    align-items: center;
    font-family: "Open Sans", sans-serif;
}
#drag-container{
    width: 500px;
}
.dragger {
    border: none;
    background-color: rgba(16, 93, 88, 0.79);
    height: 30px;
    width: 100%;
    display: block;
    padding: 5px 0 5px 10px;
    box-sizing: border-box;
    color: #ffffff;
}
textarea{
    margin: 0px;
    width: 100%;
    height: 240px;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
    background-color: rgba(127, 255, 212, 0.6);
    color: #0b504c;
    font-size: 16px;
}